@use "../utilities" as u;

.socialLinks {
  @include u.flex(unset, row);
  gap: 5px;

  .link {
    border: 1px solid rgba(u.$light-200, 0.7);
    transition: 0.3s;

    &:hover {
      img {
        filter: opacity(1);
      }

      &.orange {
        border: 1px solid orange;
      }

      &.red {
        border: 1px solid red;
      }

      &.maroon {
        border: 1px solid maroon;
      }
    }
    
    &.maroon {
      
      img {
          transform: scale(115%);
        }
    }

    a {
      width: 30px;
      height: 30px;
      @include u.flex(center, row);
    }

    img {
      width: 16px;
      height: 16px;
      filter: opacity(0.6);
      transition: 0.3s;
    }
  }
}
