@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600&display=swap");

$fontLogo: "Pacifico", cursive;
$fontPrimary: "Poppins", sans-serif;
$fontSecondary: "Playfair Display", serif;
$fontTertiary: "Libre Franklin", sans-serif;
