// Colours
$light-100: #ffffff;
$light-200: #dbdbdb;
$light-300: #cccccc;
$light-400: #aaaaaa;
$light-500: #888888;

$dark-100: #6c6c6c;
$dark-200: #3a3a3a;
$dark-300: #222222;
$dark-400: #111111;
$dark-500: #000000;

$accent-red: #ac1313;
$light-red: #d77474;
$light-gray: #f8f8f8;

// border
$bdBottom: 1px solid rgba($light-200, 0.5);

// margin
$sectPaddingBlock: 12rem;
