@use "../utilities" as u;

.contactUs {
  background-color: u.$light-gray;

  .container {
    width: min(100%, 90rem);
    margin: 0 auto;
  }

  .info {
    @include u.grid(repeat(3, 1fr), 2rem);
    margin-bottom: 5rem;

    @include u.breakpoint(md) {
      grid-template-columns: 1fr;
    }

    .item {
      text-align: center;

      h3 {
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 2rem;
      }

      p {
        max-width: 15em;
        margin: 0 auto;
      }
    }
  }

  .form {
    background-color: u.$light-100;

    .heroImage {
      @include u.bgImage;
      background-image: url("https://res.cloudinary.com/dplbkid9/image/upload/v1785702535/5bb9649228dfc366d4954146_alisher-sharip-117976-unsplash-p-3200_fxeo7c.jpg");
      width: 100%;
      height: 20rem;
    }

    .inputField {
      padding: 6rem;

      @include u.breakpoint(sm) {
        padding-inline: 2rem;
      }
    }

    .title {
      font-size: 2.4rem;
      line-height: 3.4rem;
      margin-bottom: 2rem;
    }

    .inputContainer {
      @include u.flex(unset, row);
      gap: 2rem;
      margin-bottom: 2.4rem;

      @include u.breakpoint(md) {
        flex-direction: column;
      }

      .input {
        width: 100%;
      }
    }

    label {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 0.8rem;
      line-height: 1.8rem;
      display: inline-block;
    }

    .textareaContainer {
      margin-bottom: 2.4rem;
      position: relative;

      svg {
        position: absolute;
        top: 0.4em;
        left: 0.4em;
        font-size: 2.5rem;
        color: u.$light-200;
      }

      textarea {
        @include u.inputGray;
        width: 100%;
        height: 17rem;
        padding: 0.8rem 1.2rem 0.8rem 4rem;
        resize: none;
      }
    }
  }

  .submitBtn {
    @include u.breakpoint(sm) {
      width: 100%;
      text-align: center;
    }
  }
}
