@use "../../utilities" as u;

.buttonLink {
  background-color: u.$accent-red;
  color: u.$light-100 !important;
  display: inline-block;
  padding: 2rem 4rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: u.$fontPrimary;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  transition: 0.4s;

  &:hover {
    background-color: u.$dark-500;
    transform: translateY(-0.65rem);
  }
}
