@use "../../utilities" as u;

.inputCount {
  @include u.inputGray;
  @include u.flex(center);
  width: 6.5em;
  height: 3.5em;
  font-size: 1.5rem;

  @include u.breakpoint(sm) {
    font-size: 1.38rem;
  }

  button {
    background-color: lighten(u.$light-200, 5%);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    @include u.flex(center);
    transition: background-color 0.3s;

    &:hover {
      background-color: u.$light-200;
    }

    &:active {
      background-color: u.$light-300;
    }
  }

  .count {
    margin: 0 0.8em;
  }
}
