@use "../../utilities" as u;

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 9rem;
  z-index: 899;
  padding-inline: 2rem;
  background-color: u.$light-100;
  box-shadow: 0 0px 5px 0px rgba(u.$light-200, 0.5);

  @include u.breakpoint(lg) {
    padding-inline: 1.4rem;
  }

  @include u.breakpoint(sm) {
    height: 8rem;
  }

  .container {
    height: 100%;
    @include u.maxWidth;
    @include u.flex(space-between);
    background-color: inherit;

    @include u.breakpoint(xl) {
      position: relative;
    }
  }

  .navigation {
    @include u.flex();
  }

  .list {
    @include u.flex();

    @include u.breakpoint(lg) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      @include u.flex($direction: column);
      align-items: flex-start;
      background-color: u.$light-100;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
      box-shadow: 0 1em 1em -0.5em rgba(u.$dark-500, 0.05);
      transform: translateY(-130%);
      opacity: 0;
      transition: 0.4s ease;
      z-index: -1;

      &.show {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .cart {
    @include u.flex();
    padding: 1.5rem;
    border-left: 1px solid rgba(u.$light-200, 0.5);
    text-transform: capitalize;
    letter-spacing: 0em;
    font-size: 1.4rem;
    font-family: u.$fontTertiary;
    color: u.$light-500;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;

    @include u.breakpoint(md) {
      padding-left: 0.75em;
    }

    &:hover {
      color: u.$dark-300;

      img {
        filter: opacity(0.9);
      }
    }

    img {
      width: 1.45em;
      margin-right: 0.4em;
      filter: opacity(0.6);
      transition: 0.3s;
    }
  }

  .quantity {
    background-color: u.$dark-100;
    color: u.$light-100;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    @include u.flex(center);
    transform: translateY(-0.3em);
    margin-left: 0.3em;
    font-size: 1.28rem;

    @include u.breakpoint(sm) {
      font-size: 1.18rem;
    }
  }

  .mobileMenuIcon {
    position: relative;
    padding: 1.8rem;
    cursor: pointer;
    display: none;

    @include u.breakpoint(lg) {
      display: block;
    }

    @include u.breakpoint(md) {
      margin-left: 0.75em;
    }

    svg {
      font-size: 3.2rem;

      @include u.breakpoint(sm) {
        font-size: 2.8rem;
      }
    }
  }

  .profile {
    position: relative;
    border-radius: 1em;
    padding: 1.5rem;
    transition: 0.3s;
    cursor: pointer;

    @include u.breakpoint(sm) {
      display: none;
    }

    .container {
      @include u.flex(unset, row);
      gap: 0.5rem;
      color: u.$light-500;
      transition: color 0.3s;

      @include u.breakpoint(vs) {
        gap: 0.35rem;
      }

      &:hover {
        color: u.$dark-100;
      }
    }

    .name {
      font-size: 1.4rem;
      user-select: none;
    }

    .imgContainer {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      @include u.flex(center, row);
      overflow: hidden;

      @include u.breakpoint(xl) {
        width: 3.5em;
        height: 3.5em;
      }
    

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .icon {
        font-size: clamp(2.2rem, 3vw, 2.7rem);
      }
    }

    .dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      transform: translateY(-15%);
      width: 22em;
      background-color: lighten(u.$light-200, 10%);
      color: u.$light-500;
      padding: 0.6em;
      border-radius: 0.5em;
      box-shadow: 0 4px 5px 2px rgba(u.$light-500, 0.3);
      opacity: 0;
      visibility: hidden;
      transition: 0.4s ease;
      z-index: 899;

      &.show {
        top: 120%;
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
      }
    }

    .link {
      width: 100%;
      border-radius: 0.35em;
      color: inherit;

      &:hover {
        color: u.$dark-100;
      }

      &.active {
        svg {
          color: u.$accent-red !important;
        }
      }

      &:not(:last-child) {
        margin-bottom: 0.25em;
        border-bottom: u.$bdBottom;
      }

      &:hover {
        background-color: rgba(u.$light-200, 0.5);
      }

      a {
        @include u.flex();
        padding: 0.8em 0.5em;
        font-size: 1.35rem;
        letter-spacing: 0;
        text-transform: capitalize;
      }

      svg {
        font-size: clamp(1.7rem, 2.4vw, 2rem);
        color: inherit;
      }

      span {
        margin-left: 1rem;
      }
    }
  }

  .cartOverlay {
    position: fixed;
    inset: 0 0;
    background-color: #3a3a3a64;
    display: none;
    backdrop-filter: blur(3px);
    transition: transform 1.3s ease-in;
    z-index: 990;

    &.cartOpen {
      display: block;
    }

    &Inner {
      position: fixed;
      top: 0;
      left: 0;
      background-color: u.$light-100;
      width: 50em;
      height: 100%;
      @include u.flex($direction: column);
      align-items: unset;
      transform: translateX(-100%);
      overflow: auto;
      transition: transform 0.5s;
      z-index: 999;

      @include u.breakpoint(md) {
        width: 40em;
      }

      @include u.breakpoint(sm) {
        width: 100%;
      }

      &.cartOpen {
        transform: translateX(0);
      }
    }

    &Header {
      @include u.flex(space-between);
      padding: 2em;
      border-bottom: u.$bdBottom;

      @include u.breakpoint(sm) {
        padding: 1.5em;
      }

      h2 {
        font-size: 1.6rem;
        font-weight: 600;

        @include u.breakpoint(sm) {
          font-size: 1.5rem;
        }
      }

      svg {
        font-size: 2.5rem;
        cursor: pointer;
        border-radius: 50%;
        padding: 0.1em;
        box-sizing: unset;
        transition: background-color 0.3s;

        @include u.breakpoint(sm) {
          font-size: 2.3rem;
        }

        &:hover {
          background-color: u.$light-200;
        }

        &:active {
          background-color: u.$light-300;
        }
      }
    }

    &Body {
      padding: 2em;
      border-bottom: u.$bdBottom;
      flex: 1;

      @include u.breakpoint(sm) {
        padding: 1.5em;
      }
    }

    &Item {
      @include u.flex();
      align-items: flex-start;
      gap: 1.5em;
      margin-bottom: 2em;

      @include u.breakpoint(sm) {
        margin-bottom: 1em;
        gap: 1.2em;
      }

      img {
        width: 6em;
        height: 8em;
        object-fit: cover;
        object-position: center;
      }

      div {
        flex: 1;

        .title {
          font-weight: 600;
          font-size: 1.3rem;

          @include u.breakpoint(sm) {
            font-size: 1.15rem;
          }
        }

        .price {
          font-weight: 600;
          font-size: 1.45rem;

          @include u.breakpoint(sm) {
            font-size: 1.3rem;
          }
        }

        a {
          font-size: 1.3rem;
          color: u.$light-500;
          transition: color 0.15s;

          @include u.breakpoint(sm) {
            font-size: 1.1rem;
          }

          &:hover {
            color: u.$accent-red;
          }
        }
      }
    }

    .noItems {
      font-size: 1.6rem;
      font-weight: 600;
      text-align: center;
    }

    &Footer {
      padding: 2em;

      @include u.breakpoint(sm) {
        padding: 1.5em;
      }

      .subTotal {
        @include u.flex(space-between);
        font-size: 1.4rem;
        margin-bottom: 1em;

        @include u.breakpoint(sm) {
          font-size: 1.3rem;
        }

        &Price {
          font-weight: 600;
        }
      }

      .checkoutBtn {
        width: 100%;
        text-align: center;
      }
    }
  }
}
